/*style.css*/
:root{
    --main-color:#DD3B9A;
    --sub-color1:#1D4997;
   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #444;
    background: linear-gradient(0deg,rgb(204, 202, 252),#fff 40%);
    font-family: 'Montserrat', sans-serif;
    
}
p{
    line-height: 1.6;
}
ul{
    list-style-type: none;
}
#main-header{
    min-width: 1200px;
    width: 100%;
    z-index: 999;
    position: absolute;
    left: 0; top: 0;
    height: 172px;
}
#main-header h1{
    position: absolute;
    left: 920px;
    top: 25px;
}
#main-header h1 img{
    width: 100px;
    height: 100px;
}
#gnb{
    position: absolute;
    right: 550px;
    top: 160px;
}
#gnb > ul > li{
    display: inline-block;
    margin-left: 57px;
}
#gnb > ul > li > a{
    text-decoration: none;
    color: #707070;
    text-transform: uppercase; /*첫글자만 대문자*/
    font-weight: 700;
    font-size: 20px;
}
#gnb > ul > li > a:hover{
    color: var(--sub-color1);
}
#tilte{
    min-width: 1200px;
    width: 100%;
}
#title .title-group{
    /*outline: 1px solid rebeccapurple;*/
    width: 50%;
    float: left;
    padding-left: 100px;
   /* padding-top: 50px; */
    height: calc(100vh - 150px);
    display: flex;
    align-items: center; /*수직정렬*/
    padding-top: 230px;
}
.content{
   /* outline: 1px solid red;*/

}
p{
    padding-bottom: 20px;
    font-size: 15px;
    color: #707070;
    
}
p.one{
    font-weight: bold;
    font-size: 20px;
}

#title .title-group h2{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    color: var(--main-color);
}
#title .title-group h2 > span{
    font-weight: bolder;
    color: var(--sub-color1);
    font-size: 90px;
    font-family: 'Bowlby One SC', cursive;
}
#title figure{
    /*outline: 1px solid royalblue;*/
    width: 50%;
    float: left;
   
    height: calc(100vh);
    display: flex;
    align-items: center; /*수직정렬*/
    justify-content: center; /* 수평정렬*/
    background-image: url(./images/circle-pie1.png);
    background-repeat: no-repeat;
    background-attachment:initial;
    margin-top: 130px;
    background-size: 120%;
    margin-right: 0px;
    /*background: linear-gradient(0deg,#9DC3BF,#fff 30%);*/
    
}
#title figure img{
    width: 555px;
    
}
.more-btn{
    background-color: var(--main-color);
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 20px;
    margin-top: 1em;
}
.more-btn:hover{
    background-color: white;
    color:var(--main-color);
    
    border: 2px solid var(--main-color);
    
}
/* 하단 이미지 아이콘 */
nav.pager {
    position: fixed;
    bottom: 40px;
    left: 50%;
   /* outline: 1px solid royalblue;*/
    transform: translate(-50%);
}
nav.pager > ul > li{
    display: inline-block;
    /*outline: 1px solid green;*/
    text-align: center;
}
nav.pager > ul > li > a {
    display: block;
    transition-duration: 0.5s;
}
nav.pager > ul > li > a:hover{
    transform: scale(1.2);
}
nav.pager > ul > li > a > img{
    width: 70%;
}
nav.sns {
    position: fixed;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}
nav.sns img{
    width: 32px;
    margin-bottom: 1em;
}