/*style.css*/
:root{
    --main-color:#DD3B9A;
    --sub-color1:#1D4997;
   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #444;
    background: linear-gradient(0deg,rgb(204, 202, 252),#fff 40%);
    font-family: 'Montserrat', sans-serif;
  
  
}
p{
    line-height: 1.6;
}
ul{
    list-style-type: none;
}

  header .container {
    /* outline: 1px solid #999; */
    display: flex;
    padding: 0;
    z-index: 999;
    position: relative;
  }
#main-header{
   
    width: 100%;
    z-index: 999;
   
    
    height: 190px;
    box-shadow: 1px 1px 4px var(--sub-color1);
}
#main-header h1{
    position: absolute;
    left: 900px;
    top: 20px;
}
#main-header h1 img{
    width: 80px;
    height: 80px;
}
#gnb{
    position: absolute;
    left: 430px;
    top: 100px;
}
#gnb > ul > li{
    display: inline-block;
    width: 8rem;
   
}
#gnb > ul > li > a{
    text-decoration: none;
    color: #444;
    text-transform: uppercase; /*첫글자만 대문자*/
    font-weight: 700;
    font-size: 20px;
}

.depth1 {
    display: flex; 
    /* outline: 1px solid red; */
    margin-top: 30px;
    text-align: center;
  }

  .depth1 > li {
    margin-left: 4em;
    /* background: #abc; */
    /* outline: 1px solid; */
  }

  .depth2 {
    margin-top: 40px;
    transition: 0.4s;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
  }

  .depth2.show {
    opacity: 1;
    max-height: 280px;
  }

  .depth2 > li {
    margin-top: 10px;
    margin-bottom: 10px;
    
  }

  .depth2 > li > a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #070707;
  }

  .depth2 > li > a:hover {
    color: var(--main-color);
    font-weight: bold;
  }

  /* 2단계 네비게이션 배경 */
  .nav_bg {
    position: absolute;
    left: 0; top: 195px;
    height: 0;
    width: 100%;
    background: rgba(255,255,255,1);
    transition: 0.4s;
    z-index: 999;
    overflow: hidden;
    
  }

  .nav_bg.show {
    height: 280px;
  }
.tilte{
    min-width: 1200px;
    width: 100%;
    height: 500px;
   outline: 1px solid rebeccapurple;
   background-color: rebeccapurple;
}
#title .title-group{
    /*outline: 1px solid rebeccapurple;*/
    width: 45%;
    float: left;
    padding-left: 180px;
   /* padding-top: 50px; */
    height: calc(100vh - 172px);
    display: flex;
    
    padding-top: 0px;
}
 
    
}
.content{
   /* outline: 1px solid red;*/

}

p.one{
    font-weight: bold;
    font-size: 70px;
    color: var(--main-color);
    padding-bottom: 30px;
}
p.best{
    font-weight: bold;
    font-size: 25px;
    color: #444;
    padding-bottom: 30px;
}
#title{
    bk
}
#title .title-group h2{
    font-size: 20px;
    padding-top: 120px;
    margin-bottom: 20px;
     color: var(--sub-color1);
    
}
#title .title-group h1{
    font-weight: bolder;
    color: #444;
    font-size: 30px;
   padding-bottom: 40px;
}
#title figure{
    /*outline: 1px solid royalblue;*/
    width: 55%;
    float: left;
   
    height: calc(100vh);
    display: flex;
    align-items: center; /*수직정렬*/
    justify-content: center; /* 수평정렬*/
    background-image: url(./images/Untitled-2.png);
    background-repeat: no-repeat;
    
    margin-top: 50px;
    background-size: cover;
    margin-right: 0px;
    /*background: linear-gradient(0deg,#9DC3BF,#fff 30%);*/
    
}
#title figure img{
    width: 555px;
    margin-top: -150px;
}
.more-btn{
    
    display: inline-block;
   
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 20px;
    margin-top: 1em;
    
    
    color:var(--main-color);
    
    border: 2px solid var(--main-color);
}
.more-btn:hover{
    font-weight: bold;
    background-color: var(--main-color);
    color: white;
}
/* 하단 이미지 아이콘 */
nav.pager {
    position: fixed;
    bottom: 40px;
    left: 50%;
   /* outline: 1px solid royalblue;*/
    transform: translate(-50%);
}
nav.pager > ul > li{
    display: inline-block;
    /*outline: 1px solid green;*/
    text-align: center;
}
nav.pager > ul > li > a {
    display: block;
    transition-duration: 0.5s;
}
nav.pager > ul > li > a:hover{
    transform: scale(1.2);
}
nav.pager > ul > li > a > img{
    width: 70%;
}
nav.sns {
    position: fixed;
    right: 50px;
    top: 60%;
    transform: translateY(-50%);
}
nav.sns img{
    width: 32px;
    margin-bottom: 1em;
}